# Streamlit para la aplicación principal
streamlit

# Supabase y sus dependencias
supabase
gotrue
httpx

# Manejo de datos
pandas
pyarrow
Pillow

# Librerías para el análisis de datos
openpyxl
plotly
xlsxwriter
